# Default ignored files
/../../awesomeProject1/.idea/shelf/
/../../awesomeProject1/.idea/workspace.xml
# Datasource local storage ignored files
/../../awesomeProject1/.idea/dataSources/
/../../awesomeProject1/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../awesomeProject1/.idea/httpRequests/
